[workspace]
members = ["./crates/types/consensus", "./crates/sequencer_client"]
resolver = "3"
[workspace.dependencies]
arb-alloy-consensus = { version = "0.0.1", path = "./crates/types/consensus" }
arb-alloy-network = { version = "0.0.1", path = "./crates/types/network" }
